@model IEnumerable<Delivery.Data.Models.Delivery>



<h4>Просмотр доставок</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReciverCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReciverAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReciverCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReciverAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

        </tr>
    }
    </tbody>
</table>